*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: palegreen;
    overflow: hidden;
    background-image: url("images.jpeg");
    background-size: cover;
}
h1{
   text-transform: uppercase;
   letter-spacing: 5px;
   font-size: 20px;
   text-align: center;
   color:white;
}
.clock{
    display: flex;
}
.clock div{
    margin: 7px;
    position: relative;

}

.clock span{
    width: 120px;
    height: 50px;
    background-color: #c415ac;
    opacity: .8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
}
.clock .text{
    height: 30px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: crimson;
    opacity: 0.8;
}
.clock #AmPm{
    bottom: 0;
    position: absolute;
    width: 50px;
    height: 30px;
    font-size: 15px;
    background-color: green;
}